In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import PolynomialFeatures
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from joblib import dump,load
from sklearn.metrics import mean_absolute_error,mean_squared_error,r2_score
from sklearn.preprocessing import PolynomialFeatures
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import RidgeCV

In [2]:
df = pd.read_csv(r"Data\Advertising.csv")
df.head()

      TV  radio  newspaper  sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3    9.3
3  151.5   41.3       58.5   18.5
4  180.8   10.8       58.4   12.9

In [4]:
X = df.drop('sales', axis=1)
X.head()

      TV  radio  newspaper
0  230.1   37.8       69.2
1   44.5   39.3       45.1
2   17.2   45.9       69.3
3  151.5   41.3       58.5
4  180.8   10.8       58.4

In [6]:
y = df['sales']
y

0      22.1
1      10.4
2       9.3
3      18.5
4      12.9
       ...
195     7.6
196     9.7
197    12.8
198    25.5
199    13.4
Name: sales, Length: 200, dtype: float64

In [13]:
poly_conv=PolynomialFeatures(degree=3,include_bias=False)
poly_conv=poly_conv.fit_transform(X)

In [14]:
X_train, X_test, y_train, y_test = train_test_split(poly_conv, y, test_size=0.33, random_state=101)

scaler=StandardScaler()

scaled_X_train=scaler.fit_transform(X_train)
scaled_X_test=scaler.transform(X_test)

linear=LinearRegression()
linear.fit(scaled_X_train,y_train)

ridge_cv_model = RidgeCV(alphas=(0.1, 1.0, 10.0), scoring='neg_mean_absolute_error')

ridge_cv_model.fit(scaled_X_train,y_train)

RidgeCV(alphas=array([ 0.1,  1. , 10. ]), scoring='neg_mean_absolute_error')

In [15]:
ridge_cv_model.alpha_

0.1

In [16]:
test_predictions = ridge_cv_model.predict(scaled_X_test)
test_predictions_LR = linear.predict(scaled_X_test)

In [17]:
RMSE = np.sqrt(mean_squared_error(y_test, test_predictions))
RMSE_LR = np.sqrt(mean_squared_error(y_test, test_predictions_LR))
print(RMSE,RMSE_LR)

0.600670302681479 0.5577254823325926

In [12]:
ridge_cv_model.coef_

array([ 5.00521174,  0.75212446,  0.385971  , -3.87073179,  3.75788269,
       -0.45307731, -0.90679835,  0.38853353, -0.38396637, -0.46109413,
       -1.82550763, -0.84451556,  2.19920854, -0.32827693,  0.43702985,
       -0.70230681,  0.33712993, -0.55289562,  0.70427606,  1.03467501,
        1.61782524,  0.83046098, -2.15995093,  0.17648161,  0.50204437,
        0.63015484, -0.31789588,  0.18586744, -0.7639589 ,  0.47505326,
       -0.01728546, -0.15878623,  0.27610601, -0.30464679])